body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-style: italic;
  text-shadow: 2px 2px 5px;
  padding: 0px 10px;
}

h2 {
  text-shadow: 0px 2px 3px;
  color: green;
}

td {
  padding: 0px 8px 0px 0px;
  height: 30px;
}

td:last-of-type {
  padding: 0px;
}

.NewPersonForm {
  padding: 0px 10px;
}

.Persons {
  padding: 0px 10px;
}

.Filter {
  padding: 0px 10px;
}

.Person:hover{
  background-color: lightgrey;
}

button {
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(206, 83, 83);
}

.submitButton:hover {
  background-color: lightblue;
}
.submitButton {
  margin: 5px 0px;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
